<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS FILE</title>
</head>
<body>
    
    <h1>URL_Shortner</h1>
   
    <%if (locals.id){
        %>
        <p>URL's Generated: http://localhost:4001/url/<%= id %></p>
        <%    
    }%>
    
    <div>
        <form method="POST" action="/url">
            <label> Enter Your OrignalUrl </label>
            <input type="text" placeholder = "https://Example.com" name = "url"/>
            <button type="submit"> Generate </button>
        </form>
    </div>



    
    <div>
        <% if(locals.urls) { %>
            <table>
                <thead>
                        <th>Sr.NO</th>
                        <th>ShortId</th>
                        <th>Redirect</th>
                        <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url, index)=>{%>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.redirectURL %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                        <%}) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>